<form id="form-sign-in">
    <h1 class="form-signin-heading">Please Login</h1>
    <input type="text" class="form-control" id="form-sign-in-username" name="username" placeholder="Account name"
           required/>
    <input type="password" class="form-control" id="form-sign-in-password" name="password" placeholder="Password"
           required/>
    <button class="btn btn-lg btn-primary" id="form-sign-in-button" type="submit">Log In</button>
    <h3 class="text-center sign-up form-signin-heading"><b>Not registered?</b></h3>
    <button class="btn btn-lg btn-primary" id="sign-up-button" onclick="return false;">Sign Up</button>
</form>