<form id="form-sign-in">
    <h1 class="form-signin-heading">Please Login</h1>
    <input type="text" class="form-control" id="tb-login-username" name="username" placeholder="Account name"
           required/>
    <input type="password" class="form-control" id="tb-login-password" name="password" placeholder="Password"
           required/>
    <button class="btn btn-lg btn-primary" id="btn-login" type="submit">Log In</button>
    <h3 class="text-center sign-up form-login-heading"><b>Not registered?</b></h3>
</form>
   <button class="btn btn-lg btn-primary" id="btn-go-to-register-button">Not Register</button>
