<div class="row">
    <div class="col-lg-offset-11">
        <button class="btn btn-sm btn-danger" id="btn-logout" type="submit">Log-out</button>
    </div>
</div>


    <div class="button-container btn-group row">
        <div class="col-md-offset-3 col-md-3">
            <button class="btn btn-md btn-primary btn-add-note" type="submit">Add Note</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-md btn-primary btn-edit-note" type="submit">Edit Note</button>
        </div>
        <div class="col-md-3">
                <button class="btn btn-md btn-primary btn-save-note" type="submit" disabled>Save Note</button>
        </div>
    </div>

    <div class="notes-container" >
    </div>
