<div class="row logout-row">
    <div class="col-lg-offset-11 col-lg-1">
        <button class="btn btn-sm btn-danger" id="btn-logout" type="submit">Log-out</button>
    </div>
</div>


    <div class="button-container btn-group row">
        <div class="col-md-offset-3 col-md-3">
            <button class="btn btn-md btn-primary btn-add-note" type="submit">Add Note</button>
        </div>
    </div>

    <div class="notes-container" >
        {{#each note}}
        <input type="text" value={{this.title}} placeholder="title" class="note-title" disabled="" style="border: 0px;">
        <textarea class="note-content" placeholder="Enter your note.." style="resize: none; border: 0px;" disabled="">{{this.content}}</textarea>
        {{/each}}
    </div>
