<div class="row">
    <div class="col-lg-offset-11">
        <button class="btn btn-sm btn-danger" id="btn-logout" type="submit">Log-out</button>
    </div>
</div>

<div class="notes-wrapper row">
    <div class="button-container col-md-2">
        <div class="row buttons">
            <div class="col-md-offset-6 col-md-2">
                <button class="btn btn-md btn-primary btn-add-note" type="submit">Add Note</button>
            </div>
        </div>
        <div class="row buttons">
            <div class="col-md-offset-6 col-md-2">
                <button class="btn btn-md btn-primary btn-edit-note" type="submit">Edit Note</button>
            </div>
        </div>
    </div>
    <div class="notes-container col-md-10" >
    </div>

</div>