<form id="form-register">
    <h1 class="form-sign-up-heading">Please Sign Up</h1>
    <input type="text" class="form-control register-username" id="tb-register-username" name="username" placeholder="Account name"
           required/>
    <input type="password" class="form-control" id="tb-register-passwordInitial" name="password" placeholder="Password"
           required/>
    <input type="password" class="form-control" id="tb-register-passwordConfirmed" name="password" placeholder="Confirm Password"
           required/>
    <button class="btn btn-lg btn-primary" id="btn-register" type="submit">Register</button>
    <button class="btn btn-lg btn-primary" id="btn-already-registered" onclick="return false;">I am registered. Go back to
        Log-In
    </button>
</form>