<form id="form-sign-up">
    <h1 class="form-sign-up-heading">Please Sign Up</h1>
    <input type="text" class="form-control form-sign-up-username" name="username" placeholder="Account name"
           required/>
    <input type="password" class="form-control" id="form-sign-up-passwordInitial" name="password" placeholder="Password"
           required/>
    <input type="password" class="form-control" id="form-sign-up-passwordConfirmed" name="password" placeholder="Confirm Password"
           required/>
    <button class="btn btn-lg btn-primary" id="form-sign-up-register-button" type="submit">Register</button>
    <button class="btn btn-lg btn-primary" id="already-registered-button" onclick="return false;">I am registered. Go back to
        Log-In
    </button>
</form>