.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
    width: 50%;
    height: 50%;
    min-width: 200px;
    max-width: 400px;
    padding: 40px;
}

.form-control{
    margin-bottom: 10px
}

body{
    height:100vh;
    background-color: black;
}
#content{
    height:100%
}

.main-container{
    height:100%
}

#content .logout-row{
    height:5%;
}
#content .button-container{
    height:5%;
}
#content .notes-container {
    border: 2px solid grey;
    height: 50%;
    min-height: 600px;
    width:90%;
    margin-left:5%;
    background-color: #D7D7D7;
}


.button-container{
    height: 100%;
    margin-bottom: 5px;
}

.note{
    float:left;
    margin:5px;
    height:40%;
    width:25%;
    border: 1px solid grey;
}

.note-title{
    margin:1%;
    width:98%;
    height:10%;
    outline: 0;
    color:black;
    background-color:#D7D7D7;;
    border: 1px solid white;
    text-align: left;
    padding: 5%;
}

.note-content{
    padding: 5%;
    margin:1%;
    width:98%;
    height:50%;
    outline: 0;
    color:black;
    background-color:#D7D7D7;;
    border: 1px solid white;
}

.panel-heading{
    height:20%;
}

.panel-body{
    height:60%;
}

.adding-heading{
    height:18%;
}

.adding-body{
    height:60%;
}

.operation-buttons{
    padding-left:1%;
    padding-right:1%;
}

.operation-buttons div{
    height:10%;
}

.operation-buttons button{
    margin-top:5px;
}
.username{
    color:white;
    font-size: 22px;
}





